@import '../settings/exports.scss';
@import '../mixins/exports.scss';
.box {
    width: 100%;
    display: flex;
    justify-content: center;

    .box--container {
        border: $light-grey solid $default-border;
        border-radius: $default-radius;
        width: 90%;
        height: 25%;

        box-shadow: $default-shadow;
        padding: $medium-padding $large-padding;

        .box--input {
            line-height: $default-line-height;
            color: $grey;
            font-weight: $bold;
            font-family: $secondary-font;

            &.__on-end-line {
                height: 10px;
            }

            &::placeholder {
                font-family: $secondary-font;
                font-weight: $bold;
            }
        }
    }
}