@import '../settings/exports.scss';
@import '../mixins/exports.scss';
.box {
    width: 100%;
    display: flex;
    justify-content: center;

    .box--container {
        margin: $default-margin;
        border: $light-grey solid $default-border;
        border-radius: $default-radius;
        width: 100%;
        box-shadow: $default-shadow;
        max-height: 300px;
        overflow: auto;
    }
}