@import '../settings/colors.scss';
@import '../settings/spacing.scss';
@import '../settings/types.scss';
@import '../mixins/effects.scss';
@import '../mixins/functions.scss';
@import '../settings/breakpoints.scss';
.grid-item {
    width: 100%;
    display: flex;
    justify-content: center;

    .grid-item--container {
        border: $light-grey solid $default-border;
        border-radius: $default-radius;
        margin: 5px 0;
        font-family: $primary-font;
        color: $darkest-grey;
        font-size: $font-size--input;
        font-weight: $light-bold;
        overflow: auto;
        @include calc(width, '100vw - 100px');
        
        @media #{$desktops} {
            @include calc(width, '100vw / 5');
        }

        &:hover {
            box-shadow: $item-shadow;
            transition: $item-shadow-transition;
        }

        .grid-item--title {
            font-size: $font-size--medium;
            font-weight: $bold;
            padding: $medium-padding $large-padding 0;
        }

        .grid-item--note {
            padding:  $medium-padding $large-padding;
        }
    }
}
