@import '../settings/exports.scss';
@import '../mixins/exports.scss';

.modal--backdrop {
    background-color: $backdrop;
    position: fixed;
    z-index: 100;
    left: 0;
    top: -80px;
    right: 0;
    bottom: 0;
}

.modal--container {
    position: relative;
    width: 480px;
    max-width: 100%;
    margin: 25vh auto 0;
    background-color: $white;
    border-radius: $default-radius;
    box-shadow: $item-shadow;

    .modal--title {
        font-size: $font-size--large;
        font-family: $primary-font;
        color: $dark-grey;
    }
    .input__with-title {
        padding:  $large-padding 15px 0;
    }

    .textarea--input {
        overflow: hidden;
        height: max-content;
        max-height: 30vw;
    }

    .modal--button-wrapper {
        display: flex;
        justify-content: flex-end;
        padding: $small-padding;
    }
}

.fade-enter-active {
  transition: all .3s ease-in-out;
}
.fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to {
  transform: translateY(30px);
  opacity: 0;
}