@import '../settings/exports.scss';
.modal-textarea {
    width: 100%;
    padding: $input--padding;

    .modal-textarea--input {
        font-family: $primary-font;
        color: $darkest-grey;
        font-size: $font-size--input;
        font-weight: $light-bold;

        &::placeholder {
            font-family: $secondary-font;
            font-weight: $bold;
            font-size: $font-size--input;
        }
    }
}