@import '../settings/exports.scss';

.note-input {
    width: 100%;
    display: flex;
    justify-content: center;

    .box {
        width: 85vw;
    }

    .note-input--title {
        font-family: $secondary-font;
        font-weight: $bold;
    }

    .note-input--button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}