@import '../settings/exports.scss';

.note-input {
    width: 100%;
    display: flex;
    justify-content: center;

    .box {
        width: 85vw;
        @media #{$small-desktops} {
            @include calc(width, '100vw / 2');
        }
    }

    .note-input--title {
        font-family: $secondary-font;
        font-weight: $bold;
    }

    .note-input--button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}
