body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}

li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}


html {
  height: 100%;
}
body {
  min-height: 100%;
}