$white: #fff;
$black: #000;
$darkest-grey: #202124;
$dark-grey: rgb(96, 97, 99);
$grey:rgb(133, 136, 141);
$light-grey: rgba(95,99,104,0.161);
$lightest-grey: rgba(95,99,104,0.039);
$royal-blue:#15c;
$royal-purple: #61c;