$extra-large-padding: 32px;
$large-padding: 16px;
$medium-padding: 12px;
$medium-padding--1: 8px;
$small-padding: 4px;

$default-margin: 16px;
$small-margin: 4px;

$default-border: 1px;

$default-radius: 10px
