@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary-font: 'Roboto',arial,sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$font-size--large: 22px;
$font-size--medium: 16px;
$font-size--input: 14px;
$font-size--small: 10px;

$bold: 700;
$normal: 400;

$default-line-height: 1.25rem;
