$default-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.1), 1px 1px 15px rgba(0, 0, 0, 0.15);
$item-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1), 1px 2px 5px rgba(0, 0, 0, 0.15);
$item-shadow-transition: all 0.2s ease-in-out;
$backdrop: rgba(233, 233, 233, 0.7);
